<a href="https://colab.research.google.com/github/nowkoai/AzureOpenAIServicePracticalGuide-book/blob/main/section_1/01_stock_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 株価の取得

In [2]:
# 1. ライブラリのインストール（yfinanceがインストールされていない場合はコメントを外してください）
#!pip install yfinance

# 2. ライブラリのインポート
import yfinance as yf

# 3. データの取得
# 例: トヨタ自動車 (証券コード: 7203)
# 日本株は証券コードの末尾に ".T" をつけるのがルールです
data = yf.download("285A.T", period="1mo", auto_adjust=True) # 過去1ヶ月分

# 4. データの表示
data

[*********************100%***********************]  1 of 1 completed

Price         Close     High      Low     Open    Volume
Ticker       285A.T   285A.T   285A.T   285A.T    285A.T
Date
2025-12-16   8688.0   9157.0   8598.0   9052.0  36681500
2025-12-17   9300.0   9398.0   8632.0   8750.0  43905700
2025-12-18   9510.0   9564.0   9049.0   9130.0  41887500
2025-12-19   9340.0   9620.0   9130.0   9401.0  43344100
2025-12-22  10125.0  10330.0   9556.0   9600.0  31097800
2025-12-23   9952.0  10070.0   9716.0   9976.0  32701100
2025-12-24  10605.0  10700.0  10060.0  10160.0  26606100
2025-12-25  10795.0  11315.0  10470.0  10855.0  36070000
2025-12-26  11415.0  11450.0  10755.0  10815.0  31613200
2025-12-29  10675.0  11555.0  10615.0  11500.0  34828800
2025-12-30  10435.0  10705.0  10330.0  10400.0  24698700
2026-01-05  11350.0  11725.0  11205.0  11350.0  34412800
2026-01-06  11600.0  11600.0  10945.0  11500.0  33475000
2026-01-07  12690.0  13860.0  12690.0  13600.0  55073900
2026-01-08  13000.0  13500.0  13000.0  13400.0  28204400
2026-01-09  12690.0  12980.0  12235.0  12730.0  30583300
2026-01-13  13685.0  13875.0  13330.0  13690.0  26424900
2026-01-14  13280.0  13925.0  13025.0  13875.0  28070200
2026-01-15  13630.0  13700.0  13125.0  13150.0  21908300
2026-01-16  14750.0  14790.0  13705.0  13890.0  36880600

# 株式の情報

In [3]:
# 1. Tickerオブジェクトを作成（ここではトヨタ自動車: 7203.T）
ticker = yf.Ticker("285A.T")

# 2. 情報を取得 (.info に辞書形式で入っています)
info = ticker.info
info

{'address1': '3-1-21, Shibaura',
 'address2': 'Minato-ku',
 'city': 'Tokyo',
 'zip': '108-0023',
 'country': 'Japan',
 'website': 'https://www.kioxia-holdings.com',
 'industry': 'Semiconductors',
 'industryKey': 'semiconductors',
 'industryDisp': 'Semiconductors',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Kioxia Holdings Corporation engages in the development, production and sale of flash memory and solid state drives (SSDs) in Japan and internationally. It offers flash memory technology products, including BiCS FLASH; UFS & e-MMC for consumer, industrial, and automotive applications; SLD NAND flash Memory; and XL-FLASH storage class memory. The company also provides enterprise, data center, and client SSDs for use in PCs, entry-level and high-end servers, and storage systems; and consumer products. The company was formerly known as Toshiba Memory Holdings Corporation and changed its name to Kioxia Holdings Corporation in October 2019. Kioxia Holdings Corporation is incorporated in 2019 and is based in Tokyo, Japan.',
 'fullTimeEmployees': 15042,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Stacy J.  Smith',
   'age': 63,
   'title': 'Executive Officer & Chairman',
   'yearBorn': 1962,
   'fiscalYear': 2025,
   'totalPay': 296000000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Nobuo  Hayasaka',
   'age': 70,
   'title': 'President, CEO & Representative Director',
   'yearBorn': 1955,
   'fiscalYear': 2025,
   'totalPay': 120000000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Hideki  Hanazawa',
   'title': 'Senior Managing Executive Officer & CFO',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Kyota  Okishiro',
   'title': 'Managing Executive Officer and GM of HR & Administration Division',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Kayoko  Yasutomi',
   'title': 'Executive Officer & GM of Legal Affairs Division',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Toshiaki  Fujikawa',
   'title': 'Manager of Corporate Communications Department',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Tomoharu  Watanabe',
   'title': 'Executive VP & Executive Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Toshiaki  Kawabata',
   'title': 'Executive Officer & Chief Information Security Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Junichiro  Yaguchi',
   'title': 'Managing Executive Officer, Head of Corporate Strategy Department & Chief Strategy Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Hiroo  Oota',
   'title': 'Executive VP & Executive Officer',
   'fiscalYear': 2025,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1767139200,
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 13630.0,
 'open': 13890.0,
 'dayLow': 13705.0,
 'dayHigh': 14790.0,
 'regularMarketPreviousClose': 13630.0,
 'regularMarketOpen': 13890.0,
 'regularMarketDayLow': 13705.0,
 'regularMarketDayHigh': 14790.0,
 'payoutRatio': 0.0,
 'trailingPE': 51.28116,
 'volume': 36880600,
 'regularMarketVolume': 36880600,
 'averageVolume': 34510757,
 'averageVolume10days': 32781488,
 'averageDailyVolume10Day': 32781488,
 'bid': 14750.0,
 'ask': 14755.0,
 'marketCap': 7974287310848,
 'fiftyTwoWeekLow': 1510.0,
 'fiftyTwoWeekHigh': 14790.0,
 'allTimeHigh': 14790.0,
 'allTimeLow': 1440.0,
 'priceToSalesTrailing12Months': 5.0209684,
 'fiftyDayAverage': 10785.76,
 'twoHundredDayAverage': 5174.97,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'JPY',
 'tradeable': False,
 'enterpriseValue': 9068430229504,
 'profitMargins': 0.097770005,
 'floatShares': 166811275,
 'sharesOutstanding': 540629640,
 'heldPercentInsiders': 0.21784,
 'heldPercentInstitutions': 0.50766,
 'impliedSharesOutstanding': 540629640,
 'bookValue': 1517.755,
 'priceToBook': 9.718301,
 'lastFiscalYearEnd': 1743379200,
 'nextFiscalYearEnd': 1774915200,
 'mostRecentQuarter': 1759190400,
 'earningsQuarterlyGrowth': -0.617,
 'netIncomeToCommon': 155280998400,
 'trailingEps': 287.63,
 'enterpriseToRevenue': 5.71,
 'enterpriseToEbitda': 15.011,
 '52WeekChange': 7.635832,
 'SandP52WeekChange': 0.14725316,
 'quoteType': 'EQUITY',
 'currentPrice': 14750.0,
 'targetHighPrice': 24600.0,
 'targetLowPrice': 7000.0,
 'targetMeanPrice': 14354.546,
 'targetMedianPrice': 14000.0,
 'recommendationMean': 2.09091,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 11,
 'totalCash': 235546001408,
 'totalCashPerShare': 435.688,
 'ebitda': 604137979904,
 'totalDebt': 1329549934592,
 'quickRatio': 0.522,
 'currentRatio': 0.984,
 'totalRevenue': 1588197064704,
 'debtToEquity': 162.27,
 'revenuePerShare': 2970.19,
 'returnOnAssets': 0.06,
 'returnOnEquity': 0.21608,
 'grossProfits': 409706987520,
 'operatingCashflow': 409702989824,
 'revenueGrowth': -0.068,
 'grossMargins': 0.25797,
 'ebitdaMargins': 0.38039002,
 'operatingMargins': 0.19163999,
 'financialCurrency': 'JPY',
 'symbol': '285A.T',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': False,
 'customPriceAlertConfidence': 'LOW',
 'marketState': 'PREPRE',
 'shortName': 'KIOXIA HOLDINGS CORPORATION',
 'fiftyTwoWeekChangePercent': 763.5832,
 'earningsTimestamp': 1770877800,
 'earningsTimestampStart': 1770877800,
 'earningsTimestampEnd': 1770877800,
 'isEarningsDateEstimate': False,
 'epsTrailingTwelveMonths': 287.63,
 'fiftyDayAverageChange': 3964.2402,
 'fiftyDayAverageChangePercent': 0.3675439,
 'twoHundredDayAverageChange': 9575.029,
 'twoHundredDayAverageChangePercent': 1.8502579,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 20,
 'averageAnalystRating': '2.1 - Buy',
 'cryptoTradeable': False,
 'corporateActions': [],
 'regularMarketTime': 1768545000,
 'exchange': 'JPX',
 'messageBoardId': 'finmb_605626628',
 'exchangeTimezoneName': 'Asia/Tokyo',
 'exchangeTimezoneShortName': 'JST',
 'gmtOffSetMilliseconds': 32400000,
 'market': 'jp_market',
 'esgPopulated': False,
 'regularMarketChangePercent': 8.217168,
 'regularMarketPrice': 14750.0,
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 1734480000000,
 'regularMarketChange': 1120.0,
 'regularMarketDayRange': '13705.0 - 14790.0',
 'fullExchangeName': 'Tokyo',
 'averageDailyVolume3Month': 34510757,
 'fiftyTwoWeekLowChange': 13240.0,
 'fiftyTwoWeekLowChangePercent': 8.768212,
 'fiftyTwoWeekRange': '1510.0 - 14790.0',
 'fiftyTwoWeekHighChange': -40.0,
 'fiftyTwoWeekHighChangePercent': -0.00270453,
 'trailingPegRatio': None}

情報を個別に取得することもできます。

In [ ]:
print(f"【時価総額】 {info.get('marketCap'):,} 円")
print(f"【PER (株価収益率)】 {info.get('trailingPE')}")
print(f"【PBR (株価純資産倍率)】 {info.get('priceToBook')}")
print(f"【配当利回り】 {info.get('dividendYield', 0) * 100:.2f} %")

# 財務データ

損益計算書

In [ ]:
ticker.income_stmt

バランスシート

In [ ]:
ticker.balance_sheet

キャッシュフロー

In [ ]:
ticker.cashflow

# 銘柄の関連ニュース

In [ ]:
ticker.news